/* Reset margins and paddings for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Styling for the entire body of the document */
body {
  margin: 0; /* Reset margin for the body */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; /* Set the font family for the body text */
  -webkit-font-smoothing: antialiased; /* Improve font rendering in Webkit browsers */
  -moz-osx-font-smoothing: grayscale; /* Improve font rendering in Firefox on macOS */
}

/* Styling for elements with class "container" */
.container {
  max-width: 600px; /* Set the maximum width for the container */
  margin: auto; /* Center the container horizontally */
  padding: 0 1rem; /* Add padding to the left and right sides of the container */
}

/* Styling for h1 elements */
h1 {
  margin-top: 1rem; /* Add top margin to the h1 element */
  text-align: center; /* Center-align the text within h1 */
}

/* Styling for elements with class "top" */
.top {
  margin-top: 1rem; /* Add top margin to elements with class "top" */
  display: flex; /* Use flexbox for layout */
  gap: 1rem; /* Add spacing between child elements */
  justify-content: center; /* Center-align the child elements horizontally */
}

/* Styling for input elements */
input {
  border: none; /* Remove the border */
  outline: none; /* Remove the focus outline */
  width: 400px; /* Set the width of the input element */
  padding: 0.5rem; /* Add padding around the input text */
  border-bottom: 1px solid #000; /* Add a 1px solid black border to the bottom of the input */
}

.add {
  background-color: #000; /* Set the background color to black */
  color: #fff; /* Set the text color to white */
  padding: 0.5rem 1.5rem; /* Add padding to the element (top and bottom: 0.5rem, left and right: 1.5rem) */
  cursor: pointer; /* Change the cursor to a pointer when hovering, indicating interactivity */
}

.todo {
  position: relative; /* Define a relative position for the element */
  margin-top: 1rem; /* Add top margin to the element */
  background-color: #000; /* Set the background color to black */
  color: #fff; /* Set the text color to white */
  padding: 1.5rem 3rem; /* Add padding to the element (top and bottom: 1.5rem, left and right: 3rem) */
  border-radius: 5px; /* Add rounded corners to the element */
}

.icons {
  position: absolute; /* Define an absolute position for the element */
  top: 50%; /* Position it at the vertical center of its parent */
  transform: translateY(-50%); /* Use a transform to further center it vertically */
  right: 20px; /* Position it 20 pixels from the right edge of its parent */
  display: flex; /* Use flexbox for layout */
  gap: 0.5rem; /* Add spacing between child elements */
}

.icon {
  cursor: pointer; /* Change the cursor to a pointer when hovering, indicating interactivity */
  font-size: 20px; /* Set the font size to 20 pixels */
}
